/* WeaponsComponnent's private SCSS styles */
.weapons {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

#weapons-main-div{
  display: flex;
  flex-direction: row;

  a {
    background-color: #8B4513;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 6.25rem;
    margin: .5rem;
    box-sizing: border-box;

  }

  @media (min-width: 600px) {
    a {
      width: 6.25rem;
      box-sizing: content-box;
    }
  }

  a:hover {
    background-color: #582907;
  }
}

.card {
  width: 190px;
  height: 254px;
  background: #D2B48C;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #6969696b;

  .card-border-top {
    width: 60%;
    height: 3%;
    background: #8B4513;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
  }

  span {
    font-weight: 600;
    color: black;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
  }

  .stats {
    font-weight: 400;
    color: black;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
  }

  .img {
    width: 70px;
    height: 80px;
    background: #8B4513;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
  }

  button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: #8B4513;
    color: white;
    font-weight: 600;
  }

  button:hover {
    background: #582907;
  }
}


.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #8B4513;
  padding: 0;
  font-size: 1em;
  bottom: 20px;
  right: 20px;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
  background-color: #582907;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}
