/* HeroDetailComponent's private SCSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input, select {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.hero-stats{
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  div{
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 2fr 11fr;
    margin-bottom: 10px;

    label{
      margin-right: 10px;
    }

    input, select{
      width: 7.5rem;
    }
  }
}

.invalid{
  border-color: red;
}






input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  transform: rotate(90deg);
  height: 80px;
  opacity: 0;
}

.quantity-wrapper {
  position: relative;
}

.quantity-wrapper:after {
  content: "+";
  position: absolute;
  right: 5px;
  height: 100%;
  top: 8px;
  pointer-events: none;
}

.quantity-wrapper:before {
  content: "-";
  position: absolute;
  left: 5px;
  height: 100%;
  top: 8px;
}
