/* HeroDetailComponent's private SCSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input, select {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.hero-stats{
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  div{
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 2fr 11fr;
    margin-bottom: 10px;

    label{
      margin-right: 10px;
    }

    input, select{
      width: 7.5rem;
    }
  }
}

.invalid{
  border-color: red;
}
