/* AppComponent's private SCSS styles */
h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  margin: 0.5rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #8B4513;
  color: white;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #582907;
}
nav a:active {
  background-color: black;
}
